# Comment the under this line of code if want use deployment only without build on github action.

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# /node_modules
# /.pnp
# .pnp.js
# .yarn/install-state.gz

# # testing
# /coverage

# # next.js
# /.next/
# /out/

# # production
# /build

# # misc
# .DS_Store
# *.pem
# *.sh

# # debug
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # local env files
# .env*.local

# # vercel
# .vercel

# # typescript
# *.tsbuildinfo
# next-env.d.ts
# node_modules/*

# globalsv1.css
# docker-compose.yaml

# secret.txt

# aws/*

# .vscode/*
# /src/generated/prisma

# /src/generated/prisma

# /src/generated/prisma

# /src/generated/prisma






# Comment the code under this line for build and deploy with github action.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js build output
/.next/cache    # Ignores the cache but keeps the built pages
/out/

# 2. Development and Diagnostic tools
/.next/dev/
/.next/diagnostics/

# 3. Build traces and Turbopack logs
/.next/trace
/.next/trace-build
/.next/turbopack

# 4. TypeScript definitions (not needed for runtime)
/.next/types/

# 5. Local node_modules inside .next (if any)
/.next/node_modules/
# IMPORTANT: Ignore all source code
/src/

# production
/build

# misc
.DS_Store
*.pem
*.sh

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# User specific ignores
globalsv1.css
docker-compose.yaml
secret.txt
aws/*
.vscode/*

mcp-server/node_modules
mcp-server/src
!/mcp-server/dist/
/mcp-server/tsconfig.json
